* {
	padding: 0px;
	margin: 0px;
}

html { 
	/*font-size: calc(.6em + 1vw);*/
	font-family: "Ubuntu", sans-serif;
}

#mega {
	min-height: 100vh;
}
#logocont {
	width: 50px;
	height: 50px;
	float: left;
	position: fixed;
	margin: 1em;
	top: 0px;
}
.logo {
	z-index: 10021;
	width: 100%;
	/*margin: 20px;*/
	border-radius: 15px;
	display: inline-block;
	transform: none;
}
.clear {
	all: unset;
}

body {
	font-weight: 600;
	background-color: #dfdfdf;
	overflow-y: auto;
}
body::-webkit-scrollbar {
	background-color: #666;
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 5px;
}

nav {
	z-index: 10000;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 99.9%;
	background-color: #333;
	padding: 20px 1px;
	border-radius: 0px 0px 15px 15px;
	background-image: url("../images/carbon.jpg");
	background-size: 256px;
}
.topnav a {
	display: block;
	float: right;
	/*font-size: em(12);*/
	padding: 14px 16px;
	margin: 0px 20px 0px 0px;
	text-align: center;
	display: inline-block;
	color: #ffffff;
	text-decoration-line: none;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: "Ubuntu", sans-serif;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	background: unset;
	border-radius: 5px;
}
.topnav a:hover {
	color: #e35513;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	background-color: #ffffff;
	text-decoration-style: solid;
	text-decoration-line: unset;
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
}
.topnav a:active {
	background-color: #f0f0f0;
}

.topnav .icon {
  display: none;
}

#auth-field {
	/*margin-right: auto;*/
	width: 25em;
	padding: 0px;
	float: right;
	margin-right: 25px;
}
.auth-form {
	width: 1vw*100%;
	background-color: #333;
	font-family: "Ubuntu",sans-serif;
	/*font-size: 20px;*/
	padding: 10px 10px 10px 10px;
	border-radius: 0px 0px 15px 15px;
}
.auth-form p {
	/*float: left;*/
	margin-left: 20px;
	color: #ffffff;
}
.textbox {
	/*margin: 10px 50px 10px 10px;*/
	border-radius: 5px;
	border: 0px;
	background-color: #bbb;
	width: 100%;
	font-family: "Ubuntu",sans-serif;
	/*font-size: 20px;*/
	color: #333;
	box-sizing: border-box;
	padding: 12px 20px;
	font-weight: 600;
	align-self: center;
	/*padding: 3px 10px 5px 10px;*/
}
.button {
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #bbb;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	padding: 12px 12px;
	/*font-size: 20px;*/
	color: #333;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
}
.button:hover {
	background-color: #f0f0f0;
	cursor: pointer;
	color: #e35513;
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
}

#auth-text {
	margin: 20px;
	/*font-size: calc(1em + 1vw);*/
	float: left;
	color: #dfdfdf;
}
#headline {
  	padding: 20px 5%;
  	position: relative;
  	top: 0;
}
.headline {
  	padding: 20px 5%;
  	position: relative;
  	top: 0;
  	background-color: #666;
  	color: #f0f0f0;
  	border-radius: 15px 15px 0px 0px;
}

header {
	position: relative;
	top: 100px;
	background-color: #333;
	width: 100%;
	height: 250px;
}
main {
	position: relative;
	top: 7em;
	/*width: 100%;*/
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #666;
  color: #dcdcdc;
  margin: 0;
  max-width: 100%;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
}


@media screen and (max-width: 700px) {
  div {
    font-size: 13px;
  }
  .topnav a{
  	font-size: 13px;
  	display: none;
  }
  .room-block {
  	width: 50%%;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo {
  	display: inline;
  }
}
@media screen and (min-width: 1000px) {
  div {
    font-size: 16px;
  }
  .topnav a{
  	font-size: 16px;
  }
  .room-block {
  	width: 20%;
  	float: left;
  }
}
@media screen and (max-width: 700px) {
  /*.topnav.responsive {position: relative;}*/
  .topnav.responsive .icon {
    position: relative;
    float: right;
    margin-right: 20px;
    /*right: 0;
    top: 0;*/
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 14px 16px;
	margin: 0px 0px 0px 0px;
  }
  .logo.responsive {
  	display: none;
  }
}


.room-blocks {
	background-color: #AAA;
	/*border-radius: 0px 0px 15px 15px;*/
	display: none;
	/*display: -webkit-flex;*/
	overflow-x: auto;
}
.room-blocks.expanded {
	display: flex;
}
.room-blocks.expanded.wrapped {
	background-color: #AAA;
	border-radius: 0px 0px 15px 15px;
	display: flex;
	/*display: -webkit-flex;*/
	overflow-x: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}
.room-blocks::-webkit-scrollbar {
	background-color: #666;
	border-radius: 5px;
}
.room-blocks::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 5px;
}
.room-block {
	text-align: center;
	padding: 12px 24px;
	background-color: #333;
	color: #dfdfdf;
	margin: 12px 24px;
	border-radius: 5px;
	display: inline-flex;
	/*display: -webkit-inline-flex;*/
	min-width: 150px;
	/*max-width: 10%;*/
	/*max-height: 200px;*/
	max-width: 356px;
}
.room-blocks.wrapped .room-block {
	min-width: 150px;
	max-width: 15%;
}
.room-image {
	width: 100%;
	float: left;
	border-radius: 5px;
	max-height: 200px;
	text-align: ;
	/*max-width: 150px;*/
}
.wrapped .room-image {
	max-width: 100%;
}

@media screen and (max-width: 700px) {
	.room-blocks.wrapped.expanded {
		justify-content: center;
	}
}

.next {
	position: relative;
	top: 20px;
}
.clear {
	display: inline;
	text-align: center; 
	position: relative;
	top: 0;
	height: 25px;
	width: 100%;
}

.device-active {
	color: #76ba1b;
}
.device-warning {
	color: #ccbb00;
}
.device-alert {
	color: #FF4444;
}

.headline.dropdown {
	padding: 24px 24px;
}
.expand-icon {
	position: relative;
    float: right;
	display: block;
	padding: 5px 12px;
	color: #ffffff;
	text-decoration-line: none;
	vertical-align: middle;
	font-family: "Ubuntu", sans-serif;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	background: unset;
	border-radius: 5px;
}
.expand-icon:hover {
	color: #e35513;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	background-color: #ffffff;
	text-decoration-style: solid;
	text-decoration-line: unset;
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
}
.expand-icon:active {
	background-color: #f0f0f0;
}

.text-link{
	/*position: relative;*/
    /*float: right;*/
	display: block;
	text-align: center;
	padding: 5px 12px;
	color: #ffffff;
	text-decoration-line: none;
	/*vertical-align: middle;*/
	font-family: "Ubuntu", sans-serif;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	background: unset;
	border-radius: 5px;
}
.text-link:hover {
	color: #e35513;
	transition: color 1s cubic-bezier(0.56, 3.81, 0, 0.98);
	background-color: #ffffff;
	text-decoration-style: solid;
	text-decoration-line: unset;
	transition: background 1s cubic-bezier(0.56, 3.81, 0, 0.98);
}
.text-link:active {
	background-color: #f0f0f0;
}

.rounded {
	border-radius: 15px;
}
.authenticate {
	max-width: 400px;
	margin: auto;
}

.deleted {
	color: #333;
}

@media screen and (max-width: 400px) {
	.leftist {
		font-size: 14px;
	}
}
@media screen and (max-width: 300px) {
	.leftist {
		font-size: 20px;
	}
}
@media screen and (min-width: 1000px) {
	#mega {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}

.shortened {
	width: 50%;
	margin: auto;
}